 
ITAcademy_RaceGame.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITAcademy_RaceGame.xcodeproj/project.xcworkspace/xcuserdata/vlados.xcuserdatad/UserInterfaceState.xcuserstate
ITAcademy_RaceGame.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ITAcademy_RaceGame.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/xcschememanagement.plist
ITAcademy_RaceGame.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITAcademy_RaceGame.xcworkspace/xcuserdata/vlados.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ITAcademy_RaceGame.xcworkspace/xcuserdata/vlados.xcuserdatad/UserInterfaceState.xcuserstate
ITAcademy_RaceGame.xcworkspace/contents.xcworkspacedata
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/Pods-ITAcademy_RaceGame.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/SnapKit-SnapKit_Privacy.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/SnapKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/xcschememanagement.plist
